:root {
  --text: #090b0e;
  --secondaryText: #1CCAD8;
  --secondaryBackground: #2F97C1;
  --highlight: #15E6CD;
  --secondaryHighlight: #0CF574;

  --paynesGrey: #587291;
  --timberwolf: #D7D6D6;
  --eerieBlack: #1E2019;
  --federalBlue: #0E0E52;
  --pennRed: #990000;


  --carmine: #96031A;
  --ghostWhite: #FBFBFF;
  --platinum: #E5E7E6;
  --engineeringOrange: #BC2C1A;
  --byzantium: #832161;
  --tyrianPurple: #5F1A37;
  --palatinate: #4C1E4F;
}

* {
  color: var(--text);
}

html {
  background-color: var(--timberwolf);
}

.fade {
  background-color: transparent;
  transition: opacity .15s linear;
}

.bgStandard {
  background-color: var(--timberwolf);
}

.bgNav {
  background-color: var(--paynesGrey);
}

.HoverLink {
  text-decoration: none;
  color: var(--text);
}

.HoverLink:hover {
  color: var(--pennRed);
}

.OurServicesImg {
  height: 18rem;
}

.ButtonCustom {
  background-color: var(--text);
  color: var(--paynesGrey);
  border: none;
  border-radius: 5px;
}

.ButtonCustom:hover {
  background-color: var(--paynesGrey);
  color: var(--text);
}

.CardBackground {
  background-color: var(--paynesGrey);
}

.CardHeader {
  color: var(--paynesGrey);
}

.Wrap {
  width: 100%;
}

#ContactUsList {
  list-style-type: none;
}