:root {
  --text: #090b0e;
  --paynesGrey: #587291;
  --timberwolf: #D7D6D6;
  --eerieBlack: #1E2019;
  --federalBlue: #0E0E52;
  --pennRed: #990000;
}

* {
  color: var(--text);
}

html {
  background-color: var(--timberwolf);
}

.fade {
  background-color: transparent;
  transition: opacity .15s linear;
}

.bgStandard {
  background-color: var(--timberwolf);
}

.bgNav {
  background-color: var(--paynesGrey);
}

.HoverLink {
  text-decoration: none;
  color: var(--text);
}

.HoverLink:hover {
  color: var(--pennRed);
}

.OurServicesImg {
  height: 18rem;
}

.ButtonCustom {
  background-color: var(--text);
  color: var(--paynesGrey);
  border: none;
  border-radius: 5px;
}

.ButtonCustom:hover {
  background-color: var(--paynesGrey);
  color: var(--text);
}

.CardBackground {
  background-color: var(--paynesGrey);
}

.CardHeader {
  color: var(--paynesGrey);
}

.Wrap {
  width: 100%;
}

.SidelineImg {
  width: 100%;
}

#ContactUsList {
  list-style-type: none;
}