:root {
  /* --secondaryTextColor: #6c757d;
  --linkHoverColor: #322e18; */

  --background: #587291;
  --otherText: #2F97C1;
  --text: #090b0e;
  --secondaryText: #1CCAD8;
  --borderHighlight: #15E6CD;
  --generalHighlight: #0CF574;
}

* {
  background-color: var(--background);
  color: var(--text);
}

/* Nav {
  border: 2px solid var(--text);
  border-radius: 10px
} */

.ButtonCustom {
  background-color: var(--text);
  color: var(--background);
  border: none;
  border-radius: 5px;
}

.ButtonCustom:hover {
  background-color: var(--otherText);
  color: var(--text);
}

.HoverLink {
  text-decoration: none;
  color: var(--text);
}

.HoverLink:hover {
  color: var(--otherText);
}

.Card {
  background-color: var(--otherText);
}

.TransparentBackground {
  background-color: transparent;
}

#ContactUsList {
  list-style-type: none;
}